name: Caller Workflow

on:
  push:
    branches:
      - main  

jobs:
  call-workflow:
    runs-on: ubuntu-latest

    steps:
      - name: Install GitHub CLI
        run: sudo apt-get install -y gh

      - name: Check out repository
        uses: actions/checkout@v4  

      - name: Trigger Called Workflow
        run: |
          gh workflow run called-workflow.yml -f username="static-username"
